<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Search History</title>
  <%- include('partials/links') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>

  <%- include('partials/nav') %>
    <div id="particles-js"></div>

    <div class="container">
      <div class="header">
        <h3>Search History</h3>
        <hr class="infoHR">
      </div>

      <div class="data-flex">
        <% for(var i = 0; i < data.length; i++) { %>
          <div class="hist">
            <p passport=<%=data[i].id %>>
              <%=data[i].history%>
                <i class="fas fa-times-circle"></i>
            </p>
          </div>
          <% } %>
      </div>

    </div>

    <%- include('partials/scripts') %>
      <script type="text/javascript" src="/js/history.js"></script>
</body>

</html>
